<!--- Header and nav template site-wide -->
<header>
  <nav id="navbar" class="navbar navbar-default">
    {% for link in site.data.navlist.docs %}
      {% assign class = nil %} <!-- class doesn't do anything at the moment -->
      {% if page.url contains link.url %}
        {% assign class = 'active' %}
      {% endif %}
      {% if link.sublinks %}
      <a href="{{ link.url | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% for sublink in link.sublinks %}
          {% if sublink.title == 'separator' %}
            <li role="separator" class="divider"></li>
          {% else %}
            <li>
              <a href="{{ sublink.url | relative_url }}">{{ sublink.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
        <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>